h1,h2,header,p,body{ /*to calculate where to put txt we 0 out all the text*/
	margin:0;
	padding:0;
	border:0; 
    font-family:Helvetica;
    background-color:black; 
 }
.header {
	background-color:black; /*comment out any infor to make sure the css is linked up to the html*/
		height:320px;
		text-align:center;
}
h1 {
	font-size:50px; 
	color: white;
	padding-left:0.5pt;
	font-weight:400;
	padding-top:20px;
}
 }
 .paragraph{/*to make the green box */
	
	margin:20px auto; /*"auto" means to center no matter if we minimize the screen*/ 
	background:red;
	width:600px;
	padding:40px 40px 40px 40px;
	text-align: left;
}
.content{ /*change text inside the green box to white*/
	padding-top:30px;
	color:white;
	font-weight:300;	
 }
img {
    display: block;
    margin: auto;
    width: 42%;
    height: 260pt;
    float: left;
    padding: 10px;
}