body { 
	margin:0;
	padding:5px;
	border:10px; 
    background-color:#FBE122;
    color: black;
    font-family: courier;
}
a { 
	color: black;
 }
.header {
	background-color:#FBE122; comment out any infor to make sure the css is linked up to the html
		height:320px;
		text-align:center;
		color:black;
}
.center { 
		position: absolute;
		padding-left: 100px;
		padding-right: 10px;
		padding-top: 50px;
		top: 10%;
		width:80%;
		text-align: center;
		font-size: 18px;

	 }
	 