body { 
	background: -webkit-linear-gradient(left top, #7FDBFF, #B10DC9); 
	
	margin:0;
}
.element { 
	width:200px;
	height:200px;
	border-radius:50px;
	background-color: #ffb6c1; 
	margin:10px;
	float: left; /*makes elements move horizonatally instead of vertically */
	
}